@{
    ViewData["Title"] = Html.Raw("Главная");
}

<h1>@ViewData["Title"]</h1>
<p>@ViewData["Message"]</p>
<p><strong><span style="font-size: medium;">Файловый архив этого сайта </span><span style="font-size: medium; color: red;">закрыт</span></strong>. Рекомендую следующие сайты для загрузки материалов МСЦ ЕХБ:</p><p>1) Новый сайт <span style="color: #000000; font-family: ''Times New Roman''; font-size: medium;"><a href="http://dstudio.info/" title="Dstudio.info">Dstudio.info</a></span> с материалами для глухих и слабослышащих и фонотеками студии Сибирского объединения, Харьковского объединения и фонотекой В.Шанбахера<br /><br />2) Обновленный сайт<span style="color: #000000; font-family: ''Times New Roman''; font-size: medium;"><a href="http://propovednik.com/" title="PROPOVEDNIK.COM"> PROPOVEDNIK.COM</a> с медиатекой материалов братства МСЦ ЕХБ и радиопрограммами<br /></span></p><p><span style="color: #000000; font-family: ''Times New Roman''; font-size: medium;">3)Голос Страждущего предназначен для сбора и распространения сведений  о гонениях и притеснениях верующих, которые являются членами церквей, объединённых служением МСЦ ЕХБ.</span></p>

